@font-face {
  font-family: 'Capriola';
  src: url(./fonts/Capriola-Regular.ttf) format('truetype');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height:100%;
}

body {
	min-height: 100vh;
	font-family: Helvetica, Arial, sans-serif;
}